html, body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.root {
  display: inline;
  width: 20%;
  min-width: 200px;
  float: left;
}
.map {
  display: inline;
  height: 100%;
  width: 80%;
  min-width: 400px;
  float: left;
  margin-top: -8px; 
}

.info {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  min-width: 200px;
  min-height: 100px;
  padding: 20px;
  color: white;
  border: solid 1px;
  transition:
    opacity 0.1s ease-in,
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.ol-dragbox {
  background-color: rgba(255,255,255,0.4);
  border-color: rgba(100,150,0,1);
}
