$theme-colors: (
  'info': tomato,
  'danger': teal,
);

@import '~bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}

.map {
  height: 100%;
  min-width: 400px;
  min-height: 600px;
}

.info {
  margin: 20px;
  padding: 20px;
  border: solid 1px;
  transition: opacity 0.1s ease-in, background-color 0.2s ease,
    border-color 0.2s ease;
}

.ol-dragbox {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(100, 150, 0, 1);
}

.root .accordion {
  .card-header {
    .form-check {
      display: inline;
    }
    .arrow {
      float: right;

      &::before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        border-radius: 3px;
        content: '';
        display: inline-block;
        position: relative;
        height: 1em;
        width: 1em;
        left: 0.15em;
        top: 0.15em;
        transition: transform 0.2s ease-in;
      }

      &.collapsed::before {
        transform: rotate(-135deg);
      }

      &.expanded::before {
        left: 0;
        transform: rotate(-225deg);
      }
    }
  }
  .card-body {
    max-height: 250px;
    overflow-y: scroll;
  }
}
